.todo-counter{
    font-size: 15px;
    padding: 0 2em;
    color: darkslateblue;
}

/* .todo-counter--loading{
    opacity: 25%;
} */

.todo-counter--loading {
    animation: fade 1.5s infinite;
}

/* infinite fade animation */
    @keyframes fade {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.5;
    }
}